PORT=3000
SMTP_PORT=2525
HOST=0.0.0.0
PRIMARY_DOMAIN=edu.as
ALT_DOMAINS=emails,steudent.edu.as,office.edu
SESSION_TTL_HOURS=720
REPLY_LIMIT=
REPLY_WINDOW_HOURS=24
DEV_INJECT=1
MONGODB_URI=
SMTP_OUT_HOST=
SMTP_OUT_PORT=587
SMTP_OUT_USER=
SMTP_OUT_PASS=
