PORT=3000
SMTP_PORT=2525
HOST=0.0.0.0
PRIMARY_DOMAIN=persistmail.edu.as
ALT_DOMAINS=inboxdrop.net,tempkeep.org,mailstash.cc,openbox.email,ghostletter.dev
SESSION_TTL_HOURS=720
REPLY_LIMIT=3
REPLY_WINDOW_HOURS=24
DEV_INJECT=1
MONGODB_URI=
